@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A1C26;
}

  
form {
    font-family: 'Montserrat', sans-serif;
    background: #35353f;
    width: 300px;
    height: 480px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(54, 88, 99);
    border-radius: 10px;
    margin-top: 150px;
}

h1 {
    font-size: 30px ;
    display: flex;
    justify-content: center;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}


  
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    font-size: 16px;
    height: 6px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

button[type="submit"] {
    margin-top: 8px;
    background-color: #428344;
    color: white;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}

button:hover{
    background-color: #50a554;
}

span {
    font-size: 14px;
    color: #e2e3ec;
}

